    <body class="container">
        <center>
            <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
                <h1>Mis prácticas Node.js</h1>
                <h2>Yohan Alek Plazola Arangure</h2>
            </div>
        </center>