<%-include('partials/head.ejs')%>
<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
        <section class="cotizacion">
            <div class="cotizacion__header">
                <figure class="cotizacion__figure">
                    <img src="img/logo.PNG" alt="Logo Toyota" class="cotizacion__img">
                </figure>
                <h1 class="cotizacion__title">Toyota Mazatlán</h1>
            </div>
            <form class="cotizacion__form" action="/cotizacion" method="post">
                <input class="inp folio" type="text" name="folio" placeholder="Numero de Folio" value="<%=cotizacion.folio || ''%>" required>
                <textarea  class="inp descripcion" name="descripcion" placeholder="Descripción del Automóvil" required><%=cotizacion.descripcion || ''%></textarea>
                <div class="cotizacion__calculos">
                    <input class="inp precio" type="number" name="precio" placeholder="Precio" min="0" value="<%=cotizacion.precio || ''%>" required>
                    <div>
                        <p>%</p>
                        <input class="inp porcentaje" type="number" name="porcentaje" placeholder="Porcentaje de Pago Inicial" min="10" max="100" value="<%=cotizacion.porcentaje || ''%>" required>
                    </div>
                    <div class="cotizacion__plazos">
                        <select class="inp plazos" name="plazos" required>
                            <option value="">Plazos</option>
                            <option value="12">12</option>
                            <option value="24">24</option>
                            <option value="36">36</option>
                        </select>
                        <p>Meses</p>
                    </div>
                </div>
                <div class="cotizacion__botones">
                    <button type="submit" class="btn calcular">Calcular</button>
                    <button class="btn limpiar">Limpiar</button>
                </div>
                <div class="cotizacion__labels">
                    <p>Pago Inicial: <span class="sp p__inicial">$<%=cotizacion.pagoInicial || 0%></span></p>
                    <p>Total a Financiar: <span class="sp p__financiar">$<%=cotizacion.totalFinanciar || 0%></span></p>
                    <p>Pago Mensual: <span class="sp p__mensual">$<%=cotizacion.pagoMensual || 0%></span></p>
                </div>
            </form>
        </section>
        <script>
            const folio = document.querySelector('.inp.folio');
            const descripcion = document.querySelector('.inp.descripcion');
            const precio = document.querySelector('.inp.precio');
            const porcentaje = document.querySelector('.inp.porcentaje');
            const plazos = document.querySelector('.inp.plazos');
            const [btnCalcular, btnLimpiar] = document.querySelectorAll('.btn');

            btnLimpiar.addEventListener('click', e => {
                e.preventDefault();
                folio.value = '';
                descripcion.value = '';
                precio.value = '';
                porcentaje.value = '';
                plazos.selectedIndex = 0;
            });

            const isVacio = () => !folio.value || !descripcion.value || !precio.value || !porcentaje.value || plazos.selectedIndex === 0;
        </script>
<%-include('partials/footer.ejs')%>