<%-include('partials/head.ejs')%>
<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis aliquid repellendus perspiciatis earum magni error recusandae mollitia possimus saepe praesentium laboriosam cumque est deserunt ullam consequatur, eaque vitae voluptates adipisci omnis reprehenderit velit! Provident voluptates dicta sequi ipsum distinctio iusto.</p>
<%-include('partials/footer.ejs')%>