.cotizacion {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cotizacion__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 50px;
    margin: 30px 0px;
}

.cotizacion__title {
    margin: 0;
}

.cotizacion__figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 0;
    overflow: hidden;
    border-radius: 25%;
}

.cotizacion__img {
    width: 100%;
    height: 100%;
    display: block;
}

.cotizacion__calculos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

.inp {
    padding: 7px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
}

.inp:focus {
    border: 1px solid transparent;
    outline: 1px solid #EB0A1E;
}

.inp:first-of-type {
    display: block;
}

.inp.descripcion {
    width: 40%;
    height: 200px;
    resize: none;
}

.cotizacion__calculos .inp {
    width: 220px;
}

.cotizacion__calculos > .inp.precio + div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.cotizacion__calculos > .inp.precio + div > p {
    position: absolute;
    margin: 0;
    left: 8px;
    top: 8px;
}

.cotizacion__calculos > .inp.precio + div > .inp.porcentaje {
    padding-left: 25px;
}

.cotizacion__plazos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

.cotizacion__botones {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
}

.btn {
    width: 100px;
}

.btn.calcular {
    border: 1px solid #EB0A1E;
}

.btn.calcular:hover {
    background-color: #EB0A1E;
    color: #fff;
}

.btn.limpiar {
    border: 1px solid #3a6ba3;
}

.btn.limpiar:hover {
    background-color: #3a6ba3;
    color: #fff;
}

.cotizacion__labels {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 30px;
}

.sp {
    padding: 2px 7px;
    background-color: #5f5f5f;
    color: #fff;
    margin-left: 15px;
    border-radius: 10px;
}